/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1, h2, h3, h4, h5, p, li, a {
  font-family: 'Roboto', sans-serif;
}

/*Layout*/

  * {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
  }

/*Wrapper*/

  .wrapper {
    width: 1400px;
    margin: 0 auto;
  }

  @media (max-width: 1200px) {
    .wrapper {
      width: 1000px;
      margin: 0 auto;
    }
  }

  @media (max-width: 992px) {
    .wrapper {
      width: 750px;
    }
  }

  @media (max-width: 768px) {
    .wrapper {
      width: 600px;
    }
  }

  @media (max-width: 576px) {
    .wrapper {
      width: 300px;
    }
  }

  .wrapper-section-1400-margin {
    width: 1400px;
    margin: 100px auto;
  }

  @media (max-width: 1200px) {
    .wrapper-section-1400-margin {
      width: 1000px;
    }
  }

  @media (max-width: 992px) {
    .wrapper-section-1400-margin {
      width: 750px;
    }
  }

  @media (max-width: 768px) {
    .wrapper-section-1400-margin {
      width: 600px;
    }
  }

  @media (max-width: 576px) {
    .wrapper-section-1400-margin {
      width: 300px;
      margin: 50px auto;
    }
  }

  .wrapper-section-900-margin {
    width: 900px;
    margin: 100px auto;
  }

  @media (max-width: 1200px) {
    .wrapper-section-900-margin {
      width: 900px;
    }
  }

  @media (max-width: 992px) {
    .wrapper-section-900-margin {
      width: 700px;
    }
  }

  @media (max-width: 768px) {
    .wrapper-section-900-margin {
      width: 500px;
    }
  }

  @media (max-width: 576px) {
    .wrapper-section-900-margin {
      width: 300px;
      margin: 50px auto;
    }
  }

  .wrapper-section-900-no-margin {
    width: 900px;
    margin: 0 auto;
  }

  @media (max-width: 1200px) {
    .wrapper-section-900-no-margin {
      width: 900px;
    }
  }

  @media (max-width: 992px) {
    .wrapper-section-900-no-margin {
      width: 700px;
    }
  }

  @media (max-width: 768px) {
    .wrapper-section-900-no-margin {
      width: 500px;
    }
  }

  @media (max-width: 576px) {
    .wrapper-section-900-no-margin {
      width: 300px;
      margin: 50px auto;
    }
  }

  .wrapper-section-600-margin {
    width: 600px;
    margin: 0 auto;
  }

  @media (max-width: 1200px) {
    .wrapper-section-600-margin {
      width: 600px;
    }
  }

  @media (max-width: 992px) {
    .wrapper-section-600-margin {
      width: 600px;
    }
  }

  @media (max-width: 768px) {
    .wrapper-section-600-margin {
      width: 500px;
    }
  }

  @media (max-width: 576px) {
    .wrapper-section-600-margin {
      width: 300px;
      margin: 50px auto;
    }
  }

/*Styles*/

  h1, h2, h3, h4, h5 {
    color: rgba(0, 0, 0, 0.9);
  }

  p {
    color: rgba(0, 0, 0, 0.7);
  }

  li, a, .subtitle {
    color: rgba(0, 0, 0, 0.6);
  }

  a:hover {
    color:rgba(0, 0, 0, 0.9);
  }

  .wordpress {
    color: rgb(32, 117, 154);
  }

  .github {
    color: rgb(240, 83, 51);
  }

  .linkedin {
    color: rgb(7, 112, 174);
  }

  .whatsup {
    color: rgb(78, 202, 90);
  }

  h1 {
    font-weight: 500;
    font-size: 64px;
    text-transform: capitalize;
  }

  @media (max-width: 576px) {
   h1 {
    font-size: 40px;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    padding: 24px 0;
  }

  @media (max-width: 576px) {
   h2 {
    font-size: 32px;
    text-align: center;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 32px;
    text-transform: capitalize;
  }

  @media (max-width: 576px) {
   h3 {
    font-size: 18px;
    }
  }

  h4 {
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
  }

  @media (max-width: 576px) {
   h4 {
    font-size: 16px;
    }
  }

  h5 {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.75em;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.02em;
    text-align: justify;
  }

  p::first-letter {
    text-transform: capitalize;
  }

  .subtitle {
    font-weight: 500;
  }

  li {
    display: inline-block;
    padding: 0 16px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: justify;
  }

  a {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.02em;
  }

  i {
    padding: 0 8px;
  }

  .bold {
    font-weight: 700;
  }

  .uppercase {
    text-transform: uppercase;
  }

/*Backgrounds*/

  .wordpress-bg {
    background-color: rgba(32, 117, 154, 0.1);
  }

  .bootstrap-bg {
    background-color: rgba(94, 63, 139, 0.1);
  }

  .shopify-bg {
    background-color: rgba(150, 191, 69, 0.1);
  }

  .github-bg {
    background-color: rgba(240, 83, 51, 0.1);
  }

  .linkedin-bg {
    background-color: rgba(7, 112, 174, 0.1);
  }

  .whatsup-bg {
    background-color: rgba(78, 202, 90, 0.1);
  }

  .card-green-bg {
    background: linear-gradient(rgba(106, 250, 0, 0.05), rgba(106, 250, 0, 0.1), rgba(106, 250, 0, 0.15), rgba(106, 250, 0, 0.2), rgba(106, 250, 0, 0.25), rgba(106, 250, 0, 0.3), rgb(255, 255, 255));
  }

  .card-dark-blue-bg {
    background: linear-gradient(rgba(0, 37, 74, 0.03), rgba(0, 37, 74, 0.05), rgba(0, 37, 74, 0.10), rgba(0, 37, 74, 0.15), rgba(0, 37, 74, 0.18), rgb(255, 255, 255));
  }

  .service-bg-beige {
    background-color: rgb(251, 248, 244);
  }

  .service-bg-blue {
    background-color: rgb(245, 249, 250);
  }

  .service-bg-purple {
    background-color: rgb(245, 246, 251);
  }

  .service-bg-pink {
    background-color: rgba(255,192,203, 0.1);
  }

/*Navbar*/

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-logo-slogan {
    display: flex;
    align-items: center;
  }

  .navbar-logo img {
    height: 150px;
  }

  .navbar-slogan ul {
    display: flex;
    flex-direction: column;
  }

  .navbar-slogan li {
    font-size: 10px;
  }

  .navbar-contact {
    display: flex;
    flex-direction: column;
  }

  .navbar-contact p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }

  .navbar-menu a:hover {
    text-decoration: underline;
  }

  .navbar-menu a.btn-small:hover {
    text-decoration: none;
  }

  @media (max-width: 576px) {
    .navbar {
      display: none;
    }
  }

/*Footer*/

  .footer {
    display: flex;
    flex-direction: column;
    min-height: 100px;
  }

  .first-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px;
    margin: 24px 0;
    border-radius: 16px;
    background: linear-gradient(rgba(255,192,203, 0.1), rgba(255,192,203, 0.1), rgba(255,192,203, 0.2), rgba(255,192,203, 0.3));
  }

  @media (max-width: 576px) {
   .first-footer {
    flex-wrap: wrap;
    padding: 16px;
    justify-content: center;
    }
  }

  .a-propos {
    padding-right: 32px;
  }

  @media (max-width: 576px) {
   .a-propos {
    padding-right: 0
    }
  }

  .second-footer, .third-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 576px) {
   .second-footer, .third-footer {
    flex-direction: column;
    }
  }

  .footer-logo img {
    height: 150px;
  }

  .third-footer p {
    font-size: 12px;
    text-align: center;
  }

  @media (max-width: 576px) {
    .second-footer p{
      text-align: center;
      font-weight: 8px;
      padding: 0 32px;
    }
  }

  .footer-coded-by, .footer-copyright {
    margin: 24px 0;
  }

  hr {
    margin: 16px;
    width: 80%;
    margin: 16px auto;
  }

/*Banner*/

  .banner {
    height: 70vh;
    display: flex;
    align-items: center;
  }

  @media (max-width: 576px) {
    .banner {
      height: 100%;
    }
  }

  .banner-social-networks {
    width: 10%;
  }

  @media (max-width: 576px) {
    .banner-social-networks {
      display: none;
    }
  }

  .banner-social-networks ul {
    display: flex;
    flex-direction: column;
  }

  .banner-social-networks li {
    padding: 16px 0;
  }

  .banner-social-networks a {
    font-size: 24px;
  }

  .banner-text-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  @media (max-width: 576px) {
    .banner-text-img {
      flex-wrap: wrap-reverse;
      width: 100%;
    }
  }

  .banner-text {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    padding-right: 40px;
  }

  @media (max-width: 576px) {
    .banner-text {
      height: 100%;
      width: 100%;
      padding: 0;
      align-items: center;
    }
  }

  @media (max-width: 576px) {
    .banner-title, .banner-subtitle, .banner-description, .banner-btn {
      margin: 16px 0;
      text-align: center;
    }
  }

  .banner-img {
    width: 60%;
  }

  @media (max-width: 576px) {
    .banner-img {
      height: 100%;
      width: 100%;
    }
  }

  .banner-img img {
    width: 90%;
    border-radius: 50%;
  }

  @media (max-width: 576px) {
    .banner-img img {
      width: 100%;
    }
  }

  /*Introduction Section*/

  .intro-div {
    margin: 16px 0;
  }

  .intro-div ul {
    display: flex;
    flex-direction: column;
  }

  .intro-div li {
    font-weight: 400;
    font-size: 15px;
    line-height: 2em;
    letter-spacing: 0.02em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.7);
  }

 /* Services Section*/

 .services-cards {
   display: flex;
   flex-direction: column;
   margin: 40px;
 }

 @media (max-width: 576px) {
   .services-cards {
     margin: 8px;
   }
 }

 .service-card {
   width: 100%;
   border-radius: 16px;
   margin: 32px 0;
   padding: 16px;
   display: flex;
   align-items: center;
 }

 @media (max-width: 576px) {
   .service-card {
     flex-wrap: wrap;
     padding: 0;
   }
 }

 @media (max-width: 576px) {
   .f-wrap-reverse {
     flex-wrap: wrap-reverse;
   }
 }

 .service-infos, .service-checklist {
  padding: 48px;
  width: 100%;
 }

 @media (max-width: 576px) {
   .service-infos, .service-checklist {
     padding: 8px;
   }
 }

 @media (max-width: 576px) {
   .service-infos {
     display: flex;
     flex-direction: column;
     align-items: center;
   }
 }

 .service-infos i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 16px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.8);
 }

 @media (max-width: 576px) {
   .service-infos h3, .service-infos p {
     text-align: center;
   }
 }

 .service-checklist ul {
  display: flex;
  flex-direction: column;
 }

 .service-checklist li {
  line-height: 2em;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
 }

 @media (max-width: 576px) {
   .service-checklist li {
     padding: 0;
   }
 }

 /*Reasons Section*/

 .reasons-details {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
 }

 @media (max-width: 576px) {
   .reasons-details {
     flex-wrap: wrap;
   }
 }

 .reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
 }

 @media (max-width: 576px) {
   .reason {
     width:100%;
     margin: 16px 0;
   }
 }

 .reason i {
  font-size: 60px;
  padding: 16px;
  color: rgba(224, 41, 86, 0.3);
 }

 .reason h4 {
  padding: 16px;
 }

/*Tools Section*/

  .tools-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin: 40px 0;
  }

  @media (max-width: 576px) {
   .tools-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .tool-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    height: 140px;
    margin: 32px auto;
    padding: 16px;
    border-radius: 16px;
  }

  @media (max-width: 576px) {
   .tool-card {
    width: auto;
    margin: 0;
    }
  }

  .tool-card i {
    font-size: 70px;
  }

  .tool-card img {
    height: 80px;
  }

  .tool-card p {
    font-weight: 600;
  }

  .tools-statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
  }

  @media (max-width: 576px) {
   .tools-statistics {
    grid-template-columns: repeat(1, 1fr);
    }
  }

  .statistic-details {
    display: flex;
    align-items: center;
  }

  @media (max-width: 576px) {
   .statistic-details p {
    width: 25%;
    }
  }

  .statistic-details > p {
    font-weight: 500;
    font-size: 64px;
    color: rgba(0, 0, 0, 0.9);
  }

  @media (max-width: 576px) {
   .statistic-details > p {
    font-size: 48px;
    }
  }

  .statistic-infos {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }

  .statistic-infos p {
    line-height: 1.5em;
    width: 100%;
  }

/*Latest Projects Section*/

  .projects-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    margin: 40px 0;
  }

  @media (max-width: 576px) {
   .projects-cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    }
  }

  .project-card {
    height: 650px;
    width: 650px;
    border-radius: 16px;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 576px) {
   .project-card {
    width: 300px;
    height: 300px;
    }
  }

  .project-title-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
  }

  @media (max-width: 576px) {
   .project-title-stack {
    padding: 16px;
    }
  }

  .project-title, .project-stack {
    width: 50%;
    padding: 0 8px;
  }

  .project-stack p {
    color: rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 576px) {
   .project-stack p {
    font-size: 12px;
    }
  }

  .project-img img {
    width: 80%;
    border-radius: 0 16px 0 16px;
  }

  @media (max-width: 576px) {
   .project-img img {
    width: 80%;
    }
  }

  .see-more-projects {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0;
  }

  .see-more-projects p {
    font-weight: bold;
  }

  .see-more-projects a:hover {
    text-decoration: underline;
  }

/*Quote Section*/

  .quotes i {
   font-size: 60px;
   padding: 16px;
   color: rgba(224, 41, 86, 0.3);
  }

  @media (max-width: 576px) {
   .quotes i {
    font-size: 40px;
    }
  }

  .quotes-left {
    display: flex;
    justify-content: flex-start;
  }

  .quotes-right {
    display: flex;
    justify-content: flex-end;
  }

  .quote-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote-text p {
    font-size: 24px;
  }

  @media (max-width: 576px) {
   .quote-text p {
    font-size: 16px;
    }
  }

  .quote-author {
    display: flex;
    justify-content: flex-end;
  }

  .quote-author p {
    font-weight: bold;
  }

/* Cta Section */

  .cta-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px;
    height: 100x;
    border-radius: 16px;
    background: linear-gradient(rgba(255,192,203, 0.1), rgba(255,192,203, 0.1), rgba(255,192,203, 0.2), rgba(255,192,203, 0.3));
  }

  @media (max-width: 576px) {
   .cta-card {
    flex-wrap: wrap;
    padding: 16px;
    justify-content: center;
    }
  }

  .cta-image {
    position: absolute;
    top: -70px;
    left: 56px;
  }

  .cta-image img {
    height: 100px;
  }

  @media (max-width: 576px) {
    .cta-title, .cta-btn {
      margin: 16px 0;
    }
  }

/* Contact Section */

  .contact-text {
    margin: 40px 0;
  }

  .contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }

  .contact-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-city {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    padding: 8px;
  }

  .contact-mail {
    font-weight: 400;
    font-size: 32px;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 0.9);
    padding: 8px;
  }

  @media (max-width: 576px) {
   .contact-mail {
    font-size: 24px;
    }
  }

  .contact-phone {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    padding: 8px;
  }

  .contact-links ul {
    display: flex;
  }

  .contact-links li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
  }

  .contact-links i {
    font-size: 24px;
  }

  .contact-links li:hover {
    transform: scale(1.1);
  }

  @media (max-width: 576px) {
   .calendly-inline-widget {
      display: none;
    }
  }

/* Components */

  /*Small Button*/

    .btn-small {
      background: rgba(0, 0, 0, 0.8);
      padding: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      color: white;
    }

    .btn-small:hover {
      background: rgba(0, 0, 0, 0.7);
      color: white;
      transform: scale(1.1, 1.1);
    }

  /*Big Button*/

    /*black btn */

    .btn-black {
      background: rgba(0, 0, 0, 0.8);
      padding: 24px 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      width: 200px;
    }

    .btn-black a {
      color: white;
      font-size: 15px;
    }

    .btn-black:hover {
      background: rgba(0, 0, 0, 0.7);
      transform: scale(1.1, 1.1);
    }

   /* pink btn*/

    .btn-big {
      background: rgb(224, 41, 86); /*#E02956*/
      padding: 24px 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      width: 200px;
    }

    @media (max-width: 576px) {
     .btn-big {
      width: auto;
      padding: 16px 32px;
      }
    }

    .btn-big a {
      color: white;
      font-size: 15px;
    }

    @media (max-width: 576px) {
     .btn-big a {
      font-size: 13px;
      }
    }

    .btn-big:hover {
      background: rgba(224, 41, 86, 0.8);
      transform: scale(1.1, 1.1);
    }

/* Portfolio Section*/

  .project-description ul {
   display: flex;
   flex-direction: column;
  }

  .project-description h4 {
    padding: 16px;
  }

  .project-description li {
   line-height: 2em;
   color: rgba(0, 0, 0, 0.7);
   font-size: 15px;
   font-weight: 400;
   text-transform: none;
  }

  .message p {
    font-size: 14px;
    font-weight: bold;
  }

  .back-to-home-page p {
    font-weight: bold;
  }

  .back-to-home-page a:hover {
    text-decoration: underline;
  }
